* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

nav ul li a{
	color: black;
	font-size: 17px;
	text-transform: uppercase;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}



nav {
	height: 80px;
	width: 100%;
	position: fixed;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;
	background-color: white;
	transition: all .5s;
	margin-top: 0;
	padding-top: 0;
	z-index: 100;

}



label.logo {
	color: #0431B4;
	font-size: 35px;
	line-height: 90px;
	padding: 0 100px;
	display: none;
}

#web {
	transition: all .4s;
	padding: 0 100px;
}
#web a {
	color: #0431B4;
	font-size: 35px;
	line-height: 90px;
}

#web:hover {
	transform: scale(1.1);
	transition: all .4s;
}

nav ul {
	margin-left: auto;
	margin-right: auto;

}

nav ul li {
	display: inline-block;
	line-height: 90px;
	padding-right: 15px;
	padding-left: 15px;
}

a:hover {
	color: #0431B4;
	transition: 0.3s;

}

.checkbtn {
	font-size: 30px;
	color: #0431B4;
	float: right;
	line-height: 90px;
	padding-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}
body, html {
 
  line-height: 1.8;
  background-color: white;
  font-size: 100%;

  /*background-color: #002C47;*/
}

#sl {
	padding: 8px;
	font-size: 1.6rem;
	padding-left: 20px;
	transition: .5s;

}

.quest {
	padding-top: 2%;
}

.quest p {
	font-size: 1.3rem;
}

#sl:hover {
	transform: scale(1.1);
	transition: .5s;
}

.bgimg-1 {
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
  padding-left: 25px;
  padding-right: 25px;
}

.überschrift {
	padding-top: 15%;

}

.überschrift h2 {
	font-size: 4.4rem;
}

.sec {
	text-align: left;
	font-size: 1.3rem;
	padding-top: 4%;
	width: 100%;
}

.column {
	width: 100%;
	position: relative;
	display: flex;
	transition: .5s;
}



.column2 {
	width: 100%;
	position: relative;
	display: flex;
}


.wrapper {
	width: 100%;
	
}

.wri {
	width: 40%;
	margin-left: 10%;
	float: left;
}

.bild {
	width: 40%;
	float: right;
	margin-right: 8%;
	margin-top: 30vh; 
}

.bild img {
	width: 70%;
	 animation-name: p1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes p1 {
0%   {left:0px; top:45px;}
50%  {left: 35px; top: 30px;}
100% {left:0px; top:45px;}
}


.facts {
	text-align: left;
	width: 100%;
}



.wr {
	width: 100%;
	height: 6vh;
}

.wr img {
	float: left;
	width: 40px;
	margin-right: 2%;
	padding-top: 0%;
}

.wr p {
	float: left;
}

.strich {
	background-color: #0431B4;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	height: 0.3vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.strich2 {
	background-color: #0431B4;
	width: 30%;
	height: 0.3vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
}


/*-----------------------------*/


/*-----------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	color: #333;
	text-decoration: none;
}


/*-----------------------------*/


#ll {
	padding-top: 2%;
	font-size: 0.9rem;
	text-align: center;
}

footer {
	text-align: center;
	padding-bottom: 1.5%;
	background-color: #0431B4;
	color: white;
	bottom: 0;
	position: absolute;
	float: left;
	width: 100%;
}

.footer {
	bottom: 0;
	padding: 17px;
	width: 100%;
	float: left;
position: static;
}







/*-----------------------------------------------------------------------------------------*/


@media screen and (max-width: 990px) and (max-height: 999px){


.überschrift h2 {
	font-size: 5vw;
	padding-top: 6%;
}

.sec {
	font-size: 1.3rem;

}

.bild {
	margin-right: 4%;
}

.wr img {
	margin-right: 3%;
	margin-right: 70%;
}

.wr p {
	padding-bottom: 2%;
	font-size: 1.1rem;
}

.quest p {
	font-size: 1.3rem;
}

}


/*-----------------------------*/


@media screen and (min-height: 1000px) {
	.überschrift h2 {
	font-size: 8vw;
	padding-top: 7%;
	width: 70%;
}

.wri {
width: 70%;
}

.bild {
	float:right;
	padding: 0;
	margin: 0;
	margin-right: 28%;

}

.sec {
	padding-top: 10%;
}
}

@media screen and (max-width: 650px) {
	.überschrift h2 {
	font-size: 8vw;
	padding-top: 15%;
	width: 70%;
}

.wri {
width: 80%;
}

.bild {
	display: none;
	position: absolute;
	float: none;
}

.sec {
	padding-top: 10%;
}

.wr img {
	margin-right: 3%;

}

.wr p {
	padding-bottom: 2%;
	font-size: 1.1rem;
}
}

@media screen and (max-width: 400px) {


#ll {
	padding-top: 6%;
	font-size: 0.7rem;
}

}

@media screen and (min-width: 1700px) {
	.quest p {
	font-size: 1.5rem;
}

.überschrift h2 {
	padding-top: 5%;
}
}